<header>
  <h1>TRANSTU Intranet</h1>
  <nav>
    <a routerLink="/">Home</a> |
    <a routerLink="/apps">Catalog</a> |
    <a routerLink="/admin/login">Admin Login</a>
  </nav>
  <hr>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <h3>About</h3>
  <p class="noir">
    The intranet portal allows internal users to access
    easily to applications, descriptive sheets and associated documents,
    while ensuring better governance of the system
    information.
  </p>
</footer>