<section class="home">
  <div class="hero">
    <div class="hero-text">
      <h2>Welcome to TRANSTU Intranet</h2>
      <p class="noir">
        The intranet portal of<strong> TRANSTU</strong> centralizes access
        internal applications, documentation and services
        digital to improve communication and efficiency
        within the company.
      </p>
    </div>

    <div class="hero-img">
      <img src="https://www.transport.tn/uploads/img/376.jpeg" alt="Intranet TRANSTU">
    </div>
  </div>


  <div class="features">
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png">
      <h3>Application catalog</h3>
      <p class="noir">
        Access all internal applications with their descriptions, statuses and support contacts.
      </p>
    </div>

    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQisdWLlmAb2lD3meidAl92rC1k0tYvVHyHA&s">
      <h3>Centralized documentation</h3>
      <p class="noir">
        Easily find documents, user guides and links associated with each application.
      </p>
    </div>

    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
      <h3>Administrator area</h3>
      <p class="noir">
        Manage applications, documents and statuses via an interface
        secure dedicated to administrators.
      </p>
    </div>
  </div>
</section>